import { Component } from '@angular/core';
import { <%= classify(nameCN) %> } from './components/<%= dasherize(nameCN) %>';  

@Component({
  selector: '<%= prefix %>-<%= dasherize(nameEP) %>',
  imports: [<%= classify(nameCN) %>],
  template: `
      <<%= prefix %>-<%= dasherize(name) %>-container></<%= prefix %>-<%= dasherize(name) %>-container>
  `,
  providers: [<%= classify(name) %>Store,<%= classify(name) %>StoreFacade]
})
export class <%= classify(nameEP) %> {

}
