import { Component } from '@angular/core';

@Component({
  selector: '<%= prefix %>-<%= dasherize(name) %>',
  templateUrl: './<%= dasherize(name) %>.component.html',
})
export class <%= classify(name) %>Component {

  /****************************************/
  /* Injects                              */
  /****************************************/

  /****************************************/
  /* Inputs                               */
  /****************************************/

  /****************************************/
  /* Outputs                              */
  /****************************************/

  /****************************************/
  /* Signals                              */
  /****************************************/

  /****************************************/
  /* Computed Signals                     */
  /****************************************/

  /****************************************/
  /* Variables                            */
  /****************************************/

  /****************************************/
  /* Effects (if present, in constructor) */
  /****************************************/

  /****************************************/
  /* Public methods                       */
  /****************************************/

  /****************************************/
  /* Protected methods                    */
  /****************************************/

  /****************************************/
  /* Private methods                      */
  /****************************************/

}