import { Component } from '@angular/core';

@Component( {
  selector: '<%= prefix %>-<%= dasherize(name) %>',
  imports: [],
  templateUrl: './<%= dasherize(name) %>.html',
  styleUrl: './<%= dasherize(name) %>.scss',
})
export class <%= classify(name) %> {

  /****************************************/
  /* Inputs                               */
  /****************************************/

  /****************************************/
  /* Outputs                              */
  /****************************************/

  /****************************************/
  /* Signals                              */
  /****************************************/

  /****************************************/
  /* Computed Signals                     */
  /****************************************/

  /****************************************/
  /* Variables                            */
  /****************************************/
  
  /****************************************/
  /* Effects (if present, in constructor) */
  /****************************************/

  /****************************************/
  /* Public methods                       */
  /****************************************/

  /****************************************/
  /* Protected methods                    */
  /****************************************/

  /****************************************/
  /* Private methods                      */
  /****************************************/

}
