import { Component } from '@angular/core';
import { <%= classify(name) %> } from './<%= dasherize(name) %>'; 

@Component( {
  selector: '<%= prefix %>-<%= dasherize(nameCN) %>',
  imports: [<%= classify(name) %>],
  templateUrl: './<%= dasherize(nameCN) %>.html',
  styleUrl: './<%= dasherize(nameCN) %>.scss',
})
export class <%= classify(nameCN) %> {

  /****************************************/
  /* Injects                              */
  /****************************************/

  /****************************************/
  /* Inputs and Outputs (if present)      */
  /****************************************/

  /****************************************/
  /* Signals                              */
  /****************************************/

  /****************************************/
  /* Computed Signals                     */
  /****************************************/

  /****************************************/
  /* Variables                            */
  /****************************************/

  /****************************************/
  /* Effects (if present, in constructor) */
  /****************************************/

  /****************************************/
  /* Public methods                       */
  /****************************************/

  /****************************************/
  /* Protected methods                    */
  /****************************************/

  /****************************************/
  /* Private methods                      */
  /****************************************/
}
