import { Component } from '@angular/core';
import { <%= classify(name) %> } from './<%= dasherize(name) %>'; 

@Component( {
  selector: '<%= prefix %>-<%= dasherize(nameCN) %>',
  imports: [<%= classify(name) %>],
  templateUrl: './<%= dasherize(nameCN) %>.html',
  styleUrl: './<%= dasherize(nameCN) %>.scss',
})
export class <%= classify(nameCN) %> {
  // Injects

  // Inputs and Outputs (usually not present in containers)

  // Signals

  // Computed Signals

  // Variables

  // Effects (may be present, in constructor)

  // Public methods

  // Protected methods

  // Private methods

}
